<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<mat-card id="contact-card">
  <mat-card-title>
    <h1>Contact Form</h1>
  </mat-card-title>
  <form class="example-container" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Contact Name" formControlName="name">
      <mat-error *ngIf="name.touched && name.invalid"></mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Contact Surname" formControlName="surname">
      <mat-error *ngIf="surname.touched && surname.invalid"></mat-error>
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Contact Email" formControlName="email">
      <mat-error *ngIf="email.touched && email.invalid"></mat-error>
    </mat-form-field>

    <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]='contactForm.invalid'>Save</button>
        <button mat-raised-button color="primary" [routerLink]="['/list']">Cancel</button>
    </mat-card-actions>

  </form>
</mat-card>
