table {
	width: 100%;
}

.mat-header-cell {
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: #5f6368;
	font-family: roboto;
	letter-spacing: 0.178em;
	font-weight: 500;
	padding: 4px;
	text-overflow: ellipsis;
}

.mat-form-field {
	font-size: 14px;
	width: 50%;
}
.spacer {
	flex-grow: 1;
}
.filtercontainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.name-link {
	cursor: pointer;
}

.name-link:hover{
	color: #1a73e8;
	background-color: rgb(247, 247, 247);
}
