.card-center {
	width: 22rem;
	margin: auto;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.col {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}

.table {
	display: table;
}

.table-cell {
	display: table-cell;
	overflow: hidden;
	padding: 6px 0;
	text-overflow: ellipsis;
	vertical-align: top;
}

.email-cell {
	padding-left: 1.125rem;
}

.nice-heading {
    font-family: Roboto;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 10px;
}

.nice-heading-header{
    font-family: Roboto;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: #3c4043;
    word-wrap: break-word;
}
