<mat-card class="card-center">
  <mat-card-header>
    <mat-card-title>
      <h2 class="nice-heading-header">{{_contact.name}} {{_contact.surname}}</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle>
      <h4 class="nice-heading">Contact details</h4>
    </mat-card-subtitle>

    <div class="table">
        <div class="table-cell">
          <mat-icon>mail</mat-icon>
        </div>
        <div class="table-cell email-cell">
          {{_contact.email}}
        </div>
    </div>

    <mat-card-actions class="row">
      <button mat-raised-button color="primary" [routerLink]="['/list']" class="col">
        <mat-icon>arrow_back_ios</mat-icon>
        Back to list</button>
      <button mat-raised-button color="primary" [routerLink]="['/edit', _contact.id]" clas="col">
        <mat-icon>edit</mat-icon>
        Edit</button>
      <app-favourite class="col" [isFavorite]="_contact.isFavourite" [contact]="_contact" [contactId]="_contact.id"></app-favourite>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
