.sidenav-container {
	height: 100%;
}

.sidenav {
	width: 280px;
}

.sidenav .mat-toolbar {
	background: inherit;
}

.mat-toolbar.mat-primary {
	position: sticky;
	top: 0;
	z-index: 1;
}

.nav_ctc_link {
	letter-spacing: .01785714em;
	font-family: 'Google Sans', Roboto, Arial, sans-serif;
	font-size: .875rem;
	font-weight: 500;
	line-height: 1.25rem;
	color: #202124;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	outline: 0;
	overflow: hidden;
	padding: 10px 26px;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
}

.mat-icon {
	margin-right: 1.125rem;
	/* color: #202124; */
	color: #1a73e8;
}

.add_btn {
	padding: 0 24px;
	font-size: .875rem;
	font-weight: 500;
	letter-spacing: .0107142857em;
	border-radius: 24px;
	font-family: "Open Sans", Roboto, Arial, Helvetica, sans-serif;
	height: 48px;
}

.lblname{
	flex: 1 1 0;
	overflow: hidden;
	text-overflow: ellipsis;
}
.lblbadge{
	color: #5f6368;
}