<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar><mat-icon>contacts</mat-icon>Contacts</mat-toolbar>
    <div style="padding: 15px;">
      <button class="add_btn" mat-raised-button [routerLink]="['/edit', 0]"><mat-icon>add</mat-icon>Create contact</button>
    </div>
    <mat-nav-list>
      <a class="nav_ctc_link" mat-list-item href="#"><mat-icon>account_circle</mat-icon> Contacts</a>
      <a class="nav_ctc_link" mat-list-item href="#"><mat-icon>history</mat-icon> Frequently contacted</a>
      <a class="nav_ctc_link" mat-list-item href="#"><mat-icon>file_copy</mat-icon> Duplicates</a> 
    </mat-nav-list>
    <mat-divider></mat-divider>
    <mat-nav-list *ngFor="let label of labels">
      <a class="nav_ctc_link"  mat-list-item (click)="getContactsById(label.id)">
        <mat-icon>label</mat-icon>
        <span class="lblname">{{label.name}}</span>
        <span class="lblbadge">{{label.contactCount}}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>KB Contacts</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
