/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,500,700');
html,
body {
	height: 100%;
}
body {
	margin: 0;
}
p, mat-cell, mat-header-cell {
	font-family: roboto;
	font-weight: 400;
}


